body
{
	background-color: yellow;  
}
#heading
{   
    color: navy;
    font-size: 25px;
    margin: 5%;

}
#text
{
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
#container
{
    text-align: center;
    margin: 10%;
    background-color: navy;
}
#quiz
{
      background-color: navy;
      color: yellow;
      margin: 10%;
      font-family: Georgia, 'Times New Roman', Times, serif;
	
}
#question
{
   background-color: navy;
   color: yellow;
   padding: 5%;
}
